# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# testing
/coverage

# misc
.DS_Store
*.pem

# debug
npm-debug.log*

# env files (keep .env.example)
.env*
!.env.example

# typescript
*.tsbuildinfo
next-env.d.ts
